[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=stegul
Group=stegul
WorkingDirectory=/home/stegul/app/src/
Environment="PATH=/home/stegul/app/venv/bin"
EnvironmentFile=/home/stegul/.env
ExecStart=/home/stegul/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker src.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target